<div>
  @if (paybillpage == 'paybilldetails-page') {
    <section class="paybilldetails-page md:px-10 md:py-6 md:w-[45%] w-full p-4">
      <p class="md:hidden pb-1 pl-2" (click)="goToHome()">
        <i class="fa-solid fa-less-than text-gray-400"></i>
      </p>
      <div class="text-white font-bold text-2xl">Pay a bill</div>
      <p class="text-[#A1A5AB] text-[15px] md:text-[10px] mt-5 md:mt-3">Biller</p>
      <div class="text-[#A1A5AB] flex justify-between gap-2 mt-2">
        <!-- Ikeja Electric -->
        <div
        (click)="selectService('Ikeja Electric')"
    [class]="activeService === 'Ikeja Electric'
              ? 'bg-[#182407] border-[#A6E146] text-[#A6E146]'
              : 'bg-[#111419] border-[#252930]'
          "
          class="flex items-center flex-1 justify-center flex-col gap-2 py-3.5 md:py-3 rounded-xl border"
        >
          <i class="fa-solid fa-bolt text-[15px] md:text-[10px]"></i>
          <p class="text-[12px] md:text-[8px]">Ikeja Electric</p>
        </div>

        <!-- DSTV -->
        <div
             (click)="selectService('DSTV')"
    [class]="activeService === 'DSTV'
              ? 'bg-[#182407] border-[#A6E146] text-[#A6E146]'
              : 'bg-[#111419] border-[#252930]'
          "
          class="flex items-center flex-1 justify-center flex-col gap-2 py-3 rounded-xl border"
        >
          <i class="fa-solid fa-tv text-[15px] md:text-[10px]"></i>
          <p class="text-[12px] md:text-[8px]">DSTV</p>
        </div>

        <!-- MTN Airtime -->
        <div
              (click)="selectService('MTN Airtime')"
    [class]="activeService === 'MTN Airtime'
              ? 'bg-[#182407] border-[#A6E146] text-[#A6E146]'
              : 'bg-[#111419] border-[#252930]'
          "
          class="flex items-center flex-1 justify-center flex-col gap-2 py-3 rounded-xl border"
        >
          <i class="fa-solid fa-phone text-[15px] md:text-[10px]"></i>
          <p class="text-[12px] md:text-[8px]">MTN Airtime</p>
        </div>
      </div>
      <div class="text-white">
        <p class="text-[15px] md:text-[10px] text-[#A1A5AB] mt-3 md:mt-2">Meter</p>
        <input
          type="text"
          placeholder="04512378901"
          [(ngModel)]="meterNumber"
     
          class="bg-[#191D24] px-3 py-3 md:py-2 text-[17px] md:text-[12px] focus:outline-none mt-1 w-full rounded-[13px] md:rounded-[10px] border border-[#252930]"
        />
        @if (invalidMeterNumber) {
          <p class="text-red-500 text-[14px] md:text-[11px] mt-1">input a valid meter numder</p>
        }
      </div>
      <div class="text-white">
        <p class="text-[15px] md:text-[10px] text-[#A1A5AB] mt-3 md:mt-2">Amount</p>
        <input
          type="text"
          placeholder="₦10,000"
          (input)="checkBalance()"
          [(ngModel)]="meterAmount"
          class="bg-[#191D24] px-3 focus:outline-none  py-3 md:py-2 text-[17px] md:text-[12px] mt-1 w-full rounded-[10px] border border-[#252930]"
        />
        @if (insufficientFunds) {
          <p class="text-red-500 text-[14px] md:text-[11px] mt-1">
            Insufficient balance. Available: ₦{{ current() | number: '1.2-2' }}
          </p>
        }
           @if(invalidMeterAmount){
            <p class="text-red-500 text-[14px] md:text-[11px] mt-1">
            input a valid meter amount
          </p>
          }
      </div>
      <div class="flex gap-1 mt-4 md:mt-2 items-center">
        <input type="checkbox" class="accent-[#A6E146] md:w-2.5 md:-2.5 w-4 h-4" />
        <P class="text-[#A1A5AB] text-[15px] md:text-[10px]">Repeat monthly</P>
      </div>
      <div
        (click)="goToSuccesful()"
        class="w-full bg-[#A6E146] text-[17px] md:text-[12px] py-3 md:py-2 mt-6 md:mt-4 font-bold flex items-center justify-center rounded-[10px]"
      >
        pay bill
      </div>
    </section>
  }
  @if (paybillpage == 'succesful-page') {
    <section class="succeful-page flex items-center justify-center md:h-screen pt-10">
<div
        class="md:bg-[#111419] gap-2 md:w-100 w-full h-70 rounded-lg flex flex-col items-center justify-center"
      >
        <div class="w-20 h-20 rounded-full bg-[#A6E146] flex items-center justify-center shadow-lg">
          <!-- dark checkmark SVG -->
          <svg
            class="w-8 h-8"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#1e293b"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="4,12 10,18 20,6" />
          </svg>
        </div>
        <div class="font-bold text-2xl text-white">Transfer Successful</div>
        <p class="text-[15px] text-[#9B9FA5]">
          ₦{{ meterData ?.meterAmount }} paid  to {{ meterData ?.service?.service }}
        </p>
        <button
          class="w-90 md:h-8 h-15 bg-[#191D24]  rounded-2xl md:rounded-lg text-white text-[17px] md:text-[12px] font-bold mt-5"
         (click)="goToHome()"
        >
          Done
        </button>
      </div>
    </section>
  }
</div>
