<div class="md:p-10 text-white">
  @if (transferPage == 'beneficiary-page') {
    <section class="beneficiary-page">
      <h1 class="text-white font-bold text-2xl">Send money</h1>
      <p class="text-gray-400 text-[13px] mt-1">Step 1 of 3 Choose recipient</p>
      <div class="flex gap-2 mt-5">
        <hr class="w-10 h-1 bg-[#A6E146] border border-[#A6E146] rounded-2xl" />
        <hr class="w-10 h-1 bg-[#121212] border border-[#121212] rounded-2xl" />
        <hr class="w-10 h-1 bg-[#121212] border border-[#121212] rounded-2xl" />
      </div>
      <div class="flex flex-col mt-5 md:w-[45%] border border-[#1E1E1E] rounded-xl bg-[#111419]">
        <!-- Beneficiary 1 -->
        <span
          class="flex justify-between p-3 cursor-pointer rounded-t-xl"
          (click)="selectBeneficiary(0)"  
          [ngClass]="selectedBeneficiary === 0 ? 'bg-[#1E1E1E]' : 'bg-transparent'"
        >
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-circle-user text-[#20242B] text-2xl"></i>
            <div>
              <h1 class="text-[12px]">Chidi Okafor</h1>
              <p class="text-[10px] text-gray-400">GTBank</p>
            </div>
          </div>
          <label class="inline-flex items-center justify-center">
            <input type="checkbox" class="hidden peer" [checked]="selectedBeneficiary === 0" />
            <div
              class="w-3.5 h-3.5 rounded-full border-2 border-[#A6E146] flex items-center justify-center transition-all bg-[#121212]"
            >
              <svg
                class="w-3 h-3 text-[#A6E146]"
                [class.opacity-100]="selectedBeneficiary === 0"
                [class.opacity-0]="selectedBeneficiary !== 0"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </div>
          </label>
        </span>

        <!-- Beneficiary 2 -->
        <span
          class="flex justify-between p-3 cursor-pointer border-t border-[#1E1E1E]"
          (click)="selectBeneficiary(1)"
          [ngClass]="selectedBeneficiary === 1 ? 'bg-[#1E1E1E]' : 'bg-transparent'"
        >
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-circle-user text-[#20242B] text-2xl"></i>
            <div>
              <h1 class="text-[12px]">Amaka Bello</h1>
              <p class="text-[10px] text-gray-400">Access Bank</p>
            </div>
          </div>
          <label class="inline-flex items-center justify-center">
            <input type="checkbox" class="hidden peer" [checked]="selectedBeneficiary === 0" />
            <div
              class="w-3.5 h-3.5 rounded-full border-2 border-[#A6E146] flex items-center justify-center transition-all bg-[#121212]"
            >
              <svg
                class="w-3 h-3 text-[#A6E146]"
                [class.opacity-100]="selectedBeneficiary === 1"
                [class.opacity-0]="selectedBeneficiary !== 1"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </div>
          </label>
        </span>

        <!-- Beneficiary 3 -->
        <span
          class="flex justify-between p-3 cursor-pointer border-t border-[#1E1E1E] rounded-b-xl"
          (click)="selectBeneficiary(2)"
          [ngClass]="selectedBeneficiary === 2 ? 'bg-[#1E1E1E]' : 'bg-transparent'"
        >
          <div class="flex gap-2 items-center">
            <i class="fa-solid fa-circle-user text-[#20242B] text-2xl"></i>
            <div>
              <h1 class="text-[12px]">Tunde Alli</h1>
              <p class="text-[10px] text-gray-400">Zenith Bank</p>
            </div>
          </div>
          <label class="inline-flex items-center justify-center">
            <input type="checkbox" class="hidden peer" [checked]="selectedBeneficiary === 0" />
            <div
              class="w-3.5 h-3.5 rounded-full border-2 border-[#A6E146] flex items-center justify-center transition-all bg-[#121212]"
            >
              <svg
                class="w-3 h-3 text-[#A6E146]"
                [class.opacity-100]="selectedBeneficiary === 2"
                [class.opacity-0]="selectedBeneficiary !== 2"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </div>
          </label>
        </span>
      </div>
      <button
        class="mt-4 md:w-[45%]  h-10 bg-[#A6E146] text-[12px] font-bold text-black rounded-lg  "
        (click)="goTotransferDetails()"
      >
        Continue
      </button>
    </section>
  }
  @if (transferPage == 'transfer-details') {
    <section class="transfer-details">
      <h1 class="font-bold text-2xl">Send money</h1>
      <p class="text-gray-400 text-[14px] mt-1">Step 2 of 3·Amount</p>
      <div class="flex gap-2 mt-5">
        <hr class="w-10 h-1 bg-[#A6E146] border border-[#A6E146] rounded-2xl" />
        <hr class="w-10 h-1 bg-[#A6E146] border border-[#A6E146] rounded-2xl" />
        <hr class="w-10 h-1 bg-[#121212] border border-[#121212] rounded-2xl" />
      </div>
      <P class="text-[10px] text-gray-400 mt-3">From</P>
      <div class="bg-[#111419] w-120 rounded-[10px] flex items-center text-[11px] mt-2 h-8">
        <p class="ml-3">Current · ₦{{ current() | number: '1.2-2' }}</p>
      </div>
      <P class="text-[10px] text-gray-400 mt-2">To</P>
      <div class="bg-[#111419] w-120 rounded-[10px] flex items-center text-[11px] mt-2 h-8">
        <p class="ml-3 flex items-center gap-1">
          <i class="fa-solid fa-circle-user text-[#20242B] text-[20px]"></i>
          {{ selectedBeneficiaryData?.name }} · {{ selectedBeneficiaryData?.bank }}
        </p>
      </div>
      <div class="mt-2">
        <p class="text-[10px] text-gray-400">Amount</p>
        <input
          type="text"
          class="bg-[#191d24] focus:outline-none w-120 mt-2 rounded-[10px] flex items-center text-[15px] font-extrabold p-2 border border-[#2E333B] text-white"
          placeholder="₦0.00"
          [(ngModel)]="transferAmount"
          (input)="checkBalance()"
        />
        @if (insufficientFunds) {
          <p class="text-red-500 text-[10px] mt-1">
            Insufficient balance. Available: ₦{{ current() | number: '1.2-2' }}
          </p>
        }

      </div>
      <div>
        <div class="mt-2 flex flex-col">
          <label class="text-[10px] text-gray-400">Note (optional)</label>
          <input
            type="text"
            placeholder="What's this for?"
            [(ngModel)]="note"
            class="w-120 p-2 bg-[#191D24] mt-2 border text-[10px] border-[#2E333B] focus:outline-none rounded-lg text-white"
          />
        </div>
      </div>
      <button
        class="w-120 h-10 bg-[#A6E146] rounded-lg text-black text-[12px] font-bold mt-5"
        (click)="goToTransferReview()"
      >
        Review Transfer
      </button>
    </section>
  }
  @if (transferPage == 'transfer-review') {
    <p>Review your transfer:</p>
    <section class="transfer-review">
      <p class="text-gray-600 text-[12px]">Step 3 of 3 · Confirm</p>
      <div class="flex gap-2 mt-5">
        <hr class="w-10 h-1 bg-[#A6E146] border border-[#A6E146] rounded-2xl" />
        <hr class="w-10 h-1 bg-[#A6E146] border border-[#A6E146] rounded-2xl" />
        <hr class="w-10 h-1 bg-[#A6E146] border border-[#A6E146] rounded-2xl" />
      </div>
      <div class="w-120 bg-[#111419] p-2 border border-[#252930] rounded-lg mt-3">
        <div class="flex justify-between py-1">
          <p class="text-gray-400 text-[10px]">To</p>
          <p class="text-[10px] font-bold">
          {{ transferData?.beneficiary?.name }}  · {{ transferData?.beneficiary?.bank }}
          </p>
        </div>
        <div class="flex justify-between border-t border-[#252930] py-2">
          <p class="text-gray-400 text-[10px]">From</p>
          <p class="text-[10px] font-bold">Current</p>
        </div>
        <div class="flex justify-between border-t border-[#252930] py-2">
          <p class="text-gray-400 text-[10px]">Amount</p>
          <p class="text-[10px] font-bold">₦{{ transferData?.amount }}</p>
        </div>
        <div class="flex justify-between border-t border-[#252930] py-2">
          <p class="text-gray-400 text-[10px]">Fee</p>
          <p class="text-[10px] font-bold">₦0.00</p>
        </div>
        <div class="flex justify-between border-t border-[#252930] py-2">
          <p class="text-gray-400 text-[10px]">Note</p>
          <p class="text-[10px] font-bold">{{ transferData?.note }}</p>
        </div>
      </div>
      <button
        class="w-120 h-8 bg-[#A6E146] rounded-lg text-black text-[12px] font-bold mt-5"
        (click)="confirmTransfer()" (click)="updateTransferHistory()"
      >
        Confirm & Send
      </button>
    </section>
  }
  @if (transferPage == 'success-page') {
    <section class="success-page flex  items-center justify-center pt-30">
      <div class="bg-[#111419] gap-2 w-100 h-70 rounded-lg flex flex-col items-center justify-center">
        <div class="w-16 h-16 rounded-full bg-[#A6E146] flex items-center justify-center shadow-lg">
          <!-- dark checkmark SVG -->
          <svg
            class="w-8 h-8"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#1e293b"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="4,12 10,18 20,6" />
          </svg>
        </div>
        <div class="font-bold text-2xl">Transfer Successful</div>
        <p class="text-[15px] text-[#9B9FA5]">₦{{ transferData?.amount }} sent to {{ transferData?.beneficiary?.name }}</p>
        <button
          class="w-90 h-8 bg-[#191D24] rounded-lg text-black text-[12px] font-bold mt-5"
          (click)="resetTransfer()"
        >
          Done
        </button>
      </div>
    </section>
  }
</div>
